@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,700,900');

@font-face {
    font-family: 'Root';
    src: url('./fonts/PT\ Root\ UI_Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Root';
    src: url('./fonts/PT\ Root\ UI_Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Root';
    src: url('./fonts/PT\ Root\ UI_Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Root';
    src: url('./fonts/PT\ Root\ UI_Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

*,
html {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Root', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #f8bc3b;
    color: rgb(20, 20, 20);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* NAVBAR */

.nav-main {
    display: grid;
    grid-template-columns: 1fr 80px 80px 80px;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: #f8bc3b;
}

.nav-main .nav-home {
    justify-self: left;
}

.nav-main .logo {
    max-height: 80px;
    width: auto;
    align-self: center;
}

.nav-main .logo img {
    max-height: 80px;
    width: 150px;
    filter: drop-shadow(0px 2px 1px rgba(197, 72, 0, 0.637));
}

.nav-icon {
    margin: 0 auto;
    width: 35px;
    justify-content: center;
    cursor: pointer;
}

.nav-icon img {
    width: 100%;
    filter: brightness(0);
    transition: filter 100ms;
}

.nav-icon img:hover,
.nav-icon .nav-active {
    filter: none;
}

/* LAYOUT */

.wrapper {
    width: 100%;
    position: relative;
    display: block;
}

.container {
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.container.large {
    max-width: 90%;
}

/* FORM GROUP */

.form-container {
    background-color: #fbe081;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 244, 208, 0.3);
    box-shadow: 0px 4px 32px rgba(150, 56, 13, 0.4);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #714823;
}

.form-title {
    font-size: 4.8rem;
    font-weight: bold;
    width: 50%;
    margin-bottom: 30px;
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.5);
}

.input-label {
    display: block;
    font-size: 2.4rem;
    font-weight: normal;
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.5);
}

.input-group {
    margin-bottom: 30px;
}

.input-group input[type='text'],
.input-group input[type='password'],
.input-group input[type='number'] {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) inset;
    border: 1px solid #ffeba3;
    font-size: 1.8rem;
    font-weight: normal;
    transition: all 0.1s ease-out;
}

.input-group input.is-invalid {
    box-shadow: 0px 0px 5px rgb(194, 0, 0);
}

.invalid-feedback {
    color: rgb(194, 0, 0);
    margin-top: 5px;
    font-size: 1.6rem;
}

.form-container .submit-button {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 50%;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #0073ff;
    color: white;
    font-size: 2.8rem;
    font-weight: 600;
    box-shadow: 0px 2px 12px rgba(150, 56, 13, 0.5),
        0px 0px 30px rgba(0, 0, 0, 0.1) inset;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.form-container .submit-button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 4px 12px rgba(150, 56, 13, 0.5),
        0px 0px 30px rgba(0, 0, 0, 0.1) inset;
}

.centered-text {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 2rem;
    color: #714823;
}

.centered-text p {
    display: inline;
    margin-right: 15px;
}

.centered-text a,
.centered-text a:visited,
.centered-text a:active {
    text-decoration: none;
    color: #714823;
}

.landing {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 3rem;
    height: 120px;
}

.auth-form-cta {
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 4px;
    border: 1px solid #714823;
    border-radius: 10px;
    display: inline;
}

.landing .auth-form-cta {
    padding: 80px;
    padding-bottom: 24px;
    padding-top: 16px;
    border: 1px solid #4b2e0856;
    border-radius: 100px;
    background-color: #714823;
    color: #fbe081;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2),
        0px -12px 64px rgba(0, 0, 0, 0.1) inset;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.list-preview-container {
    min-height: 120px;
    background-color: #fbe081;
    padding: 10px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    display: grid;
    grid-template-columns: 20px auto;
    transition: all 0.1s ease-out;
}

.list-preview-container:hover {
    background-color: #ffeba3;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.list-preview-status {
    display: flex;
    align-items: center;
}

.list-preview-status-marker {
    margin: 0;
    margin-right: auto;
    width: 4px;
    height: 90%;
    min-height: 100px;
    border-radius: 20px;
    background-color: #0073ff;
}

.list-preview-text {
    display: grid;
    align-content: top;
    grid-template-rows: 30px 30px auto;
}

.list-preview-text .name {
    font-size: 2.4rem;
    font-weight: bold;
    height: 30px;
}

.list-preview-text .contributors {
    font-size: 1.8rem;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 10px;
}

.list-preview-text .desc {
    font-size: 1.8rem;
    opacity: 1;
    font-weight: 400;
}

.list-expanded {
    background-color: #fbe081;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
}

.list-expanded-container .return-button {
    font-size: 2rem;
    line-height: 2rem;
    height: 50px;
    display: flex;
    align-items: center;
}

.list-expanded-container .return-button img {
    width: 40px;
}

.list-expanded > .list-info {
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.list-expanded .title {
    font-size: 4.2rem;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.5);
    min-height: 40px;
    line-height: 4rem;
}

.list-expanded .contributors {
    font-size: 1.8rem;
    color: #714823;
    display: inline;
}

.list-expanded .date {
    font-size: 1.2rem;
    line-height: 1rem;
    color: #714823;
    opacity: 0.5;
    display: inline-block;
    margin-left: 20px;
}

.list-expanded-container .bottom-form {
    position: fixed;
    height: 10vh;
    top: 90vh;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f8bc3b;
    max-width: 1000px;
    margin: 0 auto;
}

.list-expanded-container .bottom-form > form {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-gap: 10px;
    align-content: center;
    height: 100%;
}

.list-expanded-container .bottom-form > form > .input-group {
    margin: 0;
    height: auto;
}

.list-expanded-container .bottom-form .submit {
    height: 50px;
    width: 50px;
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 100px;
    background-color: #0073ff;
    color: white;
    border: 1px solid rgb(10, 137, 255);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 5rem;
    line-height: 4rem;
    font-weight: lighter;
}

.list-items > :not(:nth-of-type(1)) {
    border-top: 1px solid rgba(113, 71, 35, 0.1);
}

.list-item {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr 2fr;
    font-size: 2.4rem;
    height: 100px;
    align-items: center;
}

.list-item .quantity {
    text-align: center;
    font-weight: bold;
}

.list-item .delete-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: hidden;
}

.list-item .delete-button img {
    height: 20px;
    background-color: #d62a13;
}

.list-item .delete-button.active {
    display: block;
}

.list-item .purchase-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: rgb(32, 184, 57);
}

.list-item:first-of-type .purchase-button {
    border-top-left-radius: 20px;
}

.list-item:last-of-type .purchase-button {
    border-bottom-right-radius: 20px;
}

.list-item .purchase-button img {
    height: 30px;
    filter: invert(1);
}
